    <div class="memorama">
        <div id="wrapper">
            <!-- <div class="misionVision"><h2>Mision:Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis rem ab suscipit optio et ratione expedita nemo repudiandae. Quas, autem? Velit rerum quos sunt labore praesentium fugiat magni dicta ullam!</h2></div> -->
            <div id="game">
                
                    <div *ngFor="let card of shuffledCards; let i = index" class="card" (click)="flipCard(card)">
                      <img *ngIf="flippedCards.includes(card) || matchedPairs.includes(card)" src={{card.image}} class="card-image">
                    <div *ngIf="!flippedCards.includes(card) && !matchedPairs.includes(card)" class="card-back"></div>
                    
                </div>
                
                </div>
            </div>
        </div>
    
<img src="../../../assets/Iconos/nivel3Profile/Self_taught.png" alt="" srcset="">
