    .memorama {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        gap: 10px;
    }
    
    .card {
        width: 100px;
        height: 100px;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
    }
    
    .card-content {
        visibility: visible;
    }
    
    .card-back {
        visibility: hidden;
    }
    img{width: 100PX;
    height: 100px;}