    <div class="memorama">
        <div id="wrapper">
            <div id="game">
                <div *ngFor="let card of shuffledCards; let i = index" class="card" (click)="flipCard(i)">
                    <div *ngIf="flippedCards.includes(i.toString()) || matchedPairs.includes(card)" class="card-content">
                    <img src={{card}} alt="">
                    
                    </div>
                    <div *ngIf="!flippedCards.includes(i.toString()) && !matchedPairs.includes(card)" class="card-back"></div>
                </div>
                </div>
            </div>
        </div>
    
    <img src="../../../assets/Iconos/Ecosistema Beyond/cafe_explicacion.jpg" alt="">

    <p *ngFor="let card of shuffledCards; let i = index">{{card}}</p>

