    <div class="memorama">
        <div *ngFor="let card of shuffledCards; let i = index" class="card" (click)="flipCard(i,card.scr)">
        <div *ngIf="flippedCards.includes(i.toString()) || matchedPairs.includes(card)" class="card-content">
            <img src={{card.scr}} alt="">
        </div>
        <div *ngIf="!flippedCards.includes(i.toString()) && !matchedPairs.includes(card)" class="card-back"></div>
        </div>
    </div>
    <img src="../../../assets/Iconos/Ecosistema Beyond/cafe_explicacion.jpg" alt="">

