
.memorama{
    background-image: url("../../../assets/backgrounds/Background2.jpg");
    background-size: cover;
    background-repeat: repeat;
    min-height:100vh;
}
/* border animation */
    #wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        
        
        }
        
        #game {
            height: 100vh;
            max-height: 700px;
            display: flex;
            flex-wrap:wrap;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        z-index: 1;
            
        }
    
    .card {
        width: 100px;
        height: 150px;
        margin: 1rem;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        cursor: pointer;
        background-color:rgb(28, 117, 196);
        border-radius: 1rem;
        
    
    }
    .card img {
        width: 100%;
        height: 100%;
    }
    .card div {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        }
    .card-image{
        border-radius: 1rem;
        }
    .card div:hover{
        border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
            box-shadow: 10px 10px rgba(0,0,0,.25);
    }
    
    .card-content {
        visibility: visible;
    }
    
    .card-back {
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/Naipes/back.png");
        background-size:cover;
        
        }


    img{width: 100PX;
    height: 100px;}

    .misionVision{
        color: aliceblue;
        font-size: 1zrem;
    }
    .contenedor {
        position: relative;
        height: 100vh;
      }

      .mensaje-felicitaciones {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        border: 2px solid #4caf50;
        border-radius: 8px;
        color: #0f1b0f; /* Asegura que el texto sea legible */
        z-index: 2;
        overflow: hidden; /* Asegura que el desenfoque no se extienda más allá del mensaje */
      }

      .mensaje-felicitaciones::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        filter: blur(8px); /* Ajusta el valor según sea necesario */
        z-index: -1; /* Detrás del contenido del mensaje */
        background-color: aliceblue;
      }

      h1, p {
        position: relative;
        z-index: 3; /* Encima del fondo difuminado */
      }