
<div class="gameOverContainer">
  <div
    style="
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      padding-bottom: 0;
      box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
      margin-top: 1.6em;
      margin-bottom: 0.9em;
      overflow: hidden;
      border-radius: 8px;
      will-change: transform;
    "
  >
    <iframe
      loading="lazy"
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
      "
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF8HawEIB4&#x2F;view?embed"
      allowfullscreen="allowfullscreen"
      allow="fullscreen"
    >
    </iframe>
  </div>
  <p>A través de la transformación digital y tecnológica en el mundo, brindamos experiencias a los usuarios, valor a las empresas, inteligencia a los sistemas, seguridad a los procesos e innovación a la toma de decisiones.</p>
  <a
    href="https://beyondtechnology.net/es/"
    target="_blank"
    rel="noopener"
    style="text-decoration: none;"
    >atrevete a conocernos</a
  >
  <p>A nombre de Beyondtechnology, ¡gracias por jugar!</p>
</div>
